body{
    background-color: rgb(124, 140, 52);
    color:white;
}
td{
    border:2px solid black;
}
.list{
    color:black;
}
.h3{
    color:black
}
p{
    background-color: aquamarine;
    color:rgb(87, 87, 117);
}
a{
    background-color: rgb(216, 18, 144);
    color: white;
    word-spacing: 3px;
}